<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>蘇迪勒颱風 - 台北市災害動態資訊</title>
  <meta property="og:title" content="蘇迪勒颱風 - 台北市災害動態資訊"/>
<meta property="og:description" content="">
<meta property="og:type" content="website"/>
<meta property="og:url" content="http://gonsakon.github.io/SudiLeTyphonMessage/"/>
<meta property="og:image" content="http://gonsakon.github.io/SudiLeTyphonMessage/images/B20.png"/>
<!-- og:images 來源於中央氣象局 -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
 
<style>
  #tab a{
    font-size: 24px;
  }
  #mapCanvas{
    width: 100%;
    height: 600px;
  }
  .stations, .stations svg { position: absolute; }
.stations text{font-size: 16px;}
  .stations svg { width: 120px; height: 30px; padding-right: 100px; font: 12px sans-serif; }

  .stations circle { fill: #FBD10A; stroke: black; stroke-width: 1px; }
</style>
</head>
<body ng-app="app">
  <div class="wrap" ng-controller="PeopleCtrl">
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">蘇迪勒颱風 - 台北市災害動態資訊</a>
         
        </div>
         <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="https://github.com/gonsakon/SudiLeTyphonMessage/issues" target="_blank">
                錯誤回報 New Issue
              </a>
            </li>
            <li>
              <a href="#" >資料來源: 臺北市府資訊局</a>
            </li>
            <li>
              <a href="http://creativecommons.tw/cc0" target="_blank">License: CC0</a>
            </li>
           
          </ul>
      </div>
      <div class="btn-group btn-group-justified" role="group" id="tab">
            <div class="btn-group" role="group">
              <a class="btn btn-default"  ng-class="{'btn-primary': type=='area'}" href="#area" ng-click="type='area'"><i class="icon-find"></i>最新動態</a>
            </div>
            <div class="btn-group" role="group">
              <a class="btn btn-default" ng-class="{'btn-primary': type=='map'}" href="#map" ng-click="mapchange()"><i class="icon-hotel"></i>停電區域</a>
            </div>
            
          </div>
    </nav>
    <div class="area" ng-show="type=='area'">
      <div class="container">
        <div class="alert alert-info" role="alert">
        防災災情及相關諮詢電話：87863119分機8900~8907 <br / >
        </div>
        <div class="form-group">
          <select class="form-control" ng-model="area" ng-options="o for o in taipeiArea">
          <option value="">-- 依區域搜尋 --</option>
          </select>
        </div>
        <div class="row">
          <table class="table table-striped">
           <tr>
              <th width="15%">發生時間</th>
             <th width="5%">區域</th>
             <th width="15%">詳細位置</th>
             <th width="65%">描述</th>
           </tr>
           <tr ng-repeat="people in streetData | filter:area | limitTo:100">
           <td>{{people.CaseTime[0]}}</td>
            <td><span class="label label-primary">{{people.CaseLocationDistrict[0]}}</span><br></td>
            <td>{{people.CaseLocationDescription[0]}}</td>
            <td>{{people.CaseDescription[0]}}</td>
           </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="map" ng-show="type=='map'">
      <div class="container">
       <div id="mapCanvas"></div>
      </div>
    </div>
  </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    
   
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.js"></script>
  <script src="javascripts/all.js"></script>
   <script>

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-17485038-7', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>